html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: white;
    position: relative;
  }

  header{
    height: 10vh;
    width: 100%;
    background-color: #265f72;
    position: absolute;
    top: 0;
  }
  
  .joinInnerContainer {
    width: 20%;
    border: 2px solid #265f72;
    border-radius: 4px;
    padding: 10px 15px 15px 15px;
    width: 35%;
    min-width: 300px;
  }
  .joinInnerContainer img{
    width: 100px;
  }
  .joinInnerContainer h6{
    margin: 2px 0 0 5px;
    text-align: start;
    color: gray;
  }
  
  .joinInput {
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.733);
    padding: 12px 20px;
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .heading {
    color: black;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.582);
    margin: 0 0 20px 0;
  }
  
  .btnJoin {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      background: #41a2c6;
      padding: 15px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  }
  
  .btnJoin:focus {
    outline: 0;
  }
  .btnJoin:hover {
    background-color: #59b5d4;
  }